<footer>
  <div id="footer">
    <span>&copy; All rights reserved by Eyuzik Chhunju</span>
    <span>
      Visit my
      <a href="https://www.github.com/Eyuzikfr" , target="_blank">Github</a>
    </span>
  </div>
</footer>