<header>
  <div class="title">
    <h1 id="title-title">FinTrack</h1>
    <p id="title-text">Your Personal Finance Tracker</p>
  </div>
  <nav class="nav-bar">
    <ul>
      <li class="nav-link">
        <%= link_to "Home", root_path %>
      </li>
      <li class="nav-link">
        <%= link_to "About Us", home_about_path %>
      </li>
      <li class="nav-link">
        <%= link_to "Show Records", 'records' %>
      </li>
    </ul>
  </nav>
</header>